@model Demo2.ViewModels.CategoriesWithBooksViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<ol>
    @foreach (var book in Model.Books)
    {
        <li>
            @Html.ActionLink(book.Title, "Details", "Home", new { book.Id}, null) napisanej przez: @book.Author
        </li>
    }
</ol>

<br/>
@Html.Action("GetDate")


@section Categories
{
    @Html.Partial("_Categories", Model.Categories)
}

